certifi==2026.6.17
charset-normalizer==3.4.9
ConfigArgParse==1.7.5
google-i18n-address==3.1.1
idna==3.18
intervaltree==3.2.1
Jinja2==3.1.6
lxml==6.1.1
MarkupSafe==3.0.3
natsort==8.4.0
platformdirs==4.10.0
pycountry==26.2.16
PyYAML==6.0.3
requests==2.34.2
sortedcontainers==2.4.0
urllib3==2.7.0
wcwidth==0.8.2
xml2rfc==3.34.0
