name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install build dependencies
      run: sudo apt-get update && sudo apt-get install -y capnproto libsystemd-dev pkg-config libssl-dev

    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        components: clippy

    - name: Setup sccache
      uses: mozilla-actions/sccache-action@v0.0.9

    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@v2

    - name: Run Clippy
      run: cargo clippy --workspace --all-targets --features download-libtorch -- -D warnings

  build:
    runs-on: ubuntu-latest
    needs: clippy  # Only build if clippy passes

    steps:
    - uses: actions/checkout@v4

    - name: Install build dependencies
      run: sudo apt-get update && sudo apt-get install -y capnproto libsystemd-dev pkg-config libssl-dev

    - name: Setup sccache
      uses: mozilla-actions/sccache-action@v0.0.9

    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@v2

    - name: Build
      run: cargo build --release --verbose --features download-libtorch

    - name: Run tests
      run: cargo test --release --verbose --features download-libtorch
